Pillow==8.1.0
opencv-python==4.7.0.68
qrcode==7.4.2
git+https://github.com/matmair/brother_ql-inventree.git # feb 2020
pytest==7.2.1
protobuf==3.20.0
esptool==4.3
streamlit==1.5.1
click==8.0.4
openpyxl==3.1.1
pyxlsb==1.0.10
xlsxwriter==3.0.8
-e .